.loading-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Make sure it stays on top */
}

.container {
  position: relative;
  min-height: 200px;
  /* Adjust as needed */
}

/* user-list.component.css */
.search-bar {
  margin: 20px 0;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

/* Ensure form field isn't hidden */
.hidden {
  display: none; /* This should only apply to the table container */
}

/* Add button styling */
.add-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

/* Optional hover effect */
.mat-fab:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* user-form.component.scss */
.edit-mode {
  .mat-dialog-title {
    color: #1976d2; // Material primary color
    border-bottom: 2px solid #1976d2;
    padding-bottom: 0.5rem;
  }
} 